@font-face {
    font-family: "Montserrat";
        src: url(./fonts/Montserrat-Regular.woff);
        src: url(./fonts/Montserrat-Regular.woff2);
        font-weight: normal;
        font-size: normal;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-image: url(./imgs/background.jpg);
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

div.barral {
background-image: linear-gradient(to bottom, rgba(220,110,0,1) 0%, rgba(230,67,39,1) 100%);
    position: fixed;
    width: 200px;
    height: 100vh;
    display:block;
    transition: transform 0.5s ease;  
}

div.barral ul {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin:0px;
}

div.barral ul li {
    display: grid;
}

div.barral ul li a {
    color: white;
    padding: 20px 2% 20px 2%;
    text-decoration: none;
    position: relative;
    align-items: center;

}

div.barral ul li a:hover {
    background-color: #b35a00;
}

div.barral ul img {
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}
div.barral ul p {
    color: white;
    text-decoration: underline;
    font-size: 12.5px;
}

div.barral li#listaajuda {
    list-style: none;
    position: sticky;
    text-align: center;
    top:100vh;
    margin: 15px;
}

div li a#linkajuda {
    color: white;
}

div.page-content {
    margin-left: 200px;
}

#informações-gerais {
    border-radius: 10px;
    background-color: black;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    margin:auto;
    left: 275px;
    padding-right: 60px;
    margin-top: 10px;
    color: white;
}

#informações-gerais li {
    list-style: none;
    margin: 1rem;
}

#botoes-de-cima {
    margin-left: 515px;
    margin-top:10px
}

#Verificacao {
    margin-top: 215px;
    margin-left: 75px;

}

#Verificacao button {
    padding: 30px 15px;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    margin-top: 10px;
    background-image:  linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(153, 153, 153) 100%);
    cursor: pointer;
    transition: transform 0.5s ease;
}

#Verificacao button:hover {
    color: white;
    background-image: linear-gradient(to bottom, rgb(156, 239, 160) 0%, rgb(60, 180, 53) 100%);
    transform: scale(1.1);
}

#Verificacao button:active {
    color: rgb(199, 199, 199);
    background-image: linear-gradient(to bottom, rgb(119, 182, 122) 0%, rgb(41, 123, 37) 100%);
}

.div-botoes-selecao {
    display:inline-grid;
    background-color: #e4e4e4;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    
}

#div-botoes-selecao-geral {
    position: absolute;
    left: 410px;
    top: 336px;
}

#informações-extras {
    border-radius: 10px;
    background-color: black;
    text-align: left;
    padding-left: 20px;
    position: absolute;
    margin:auto;
    left: 275px;

    color: white;
    margin-top: 100px;
    padding-bottom: 75px;
}

#informações-extras li {
    list-style: none;
    margin: 1rem;
}

.container-checkboxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 25px;
    width: 25px;
    background-color: #919191;
    transition: transform 0.5s ease;
}

.container-checkboxes:hover input ~ .checkmark {
    background-color: #787878;
    transform: scale(1.1);
}

.container-checkboxes input:checked ~ .checkmark {
    background-color: #417840 ;   
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkboxes input:checked ~ .checkmark:after {
    display: block;
}

.container-checkboxes .checkmark:after {
    left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.texto-vermelho {
    color: red;
}

.texto-verde {
    color: lightgreen;
}

.texto-azul {
    color:lightskyblue;
}

.texto-amarelo {
    color:yellow;
}

.div-botoes-ameacas {
    position: absolute;
    top: 10px;
    right: 10px;
}

.botoes-ameacas {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

.botoes-ameacas#A, .botoes-ameacas#B, .botoes-ameacas#C {
    background-image: linear-gradient(to bottom, rgb(241, 241, 241) 0%, rgb(153, 153, 153) 100%);
    transition: transform 0.5s ease;
    cursor: pointer;
}  

.botoes-ameacas#A:hover {
    background-image: linear-gradient(to bottom, rgb(239, 156, 156) 0%, rgb(180, 53, 53) 100%); ;
    transform: scale(0.95);
}

.botoes-ameacas#B:hover {
    background-image: linear-gradient(to bottom, rgb(239, 238, 156) 0%, rgb(180, 178, 53) 100%); ;
    transform: scale(0.95);
}

.botoes-ameacas#C:hover {
    background-image: linear-gradient(to bottom, rgb(156, 239, 239) 0%, rgb(53, 174, 180) 100%); ;
    transform: scale(0.95);
}

#seta i {
    position: absolute;
    scale: 5;
    top: 384px;
    right: 100px;
    transition: transform 0.5s ease;
    background-color: #d8d8d8;
    border-radius: 5px;
    cursor: pointer;
}

#seta i:hover {
    transform: scale(1.2);
    color: rgb(128, 128, 128);
}
